@model WM_Personel_Takip.Models.Personel
@{
    ViewData["Title"] = "YeniPersonel";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<br />
<form class="form-group" method="post">

    <b>PERSONEL ADI</b>
    @Html.TextBoxFor(x => x.PersonelAD, new { @class = "form-control" })
    <br />
    <b>PERSONEL SOYADI</b>
    @Html.TextBoxFor(x => x.PersnelSOYAD, new { @class = "form-control" })
    <br />
    <b>PERSONEL ŞEHİR</b>
    @Html.TextBoxFor(x => x.PersonelSEHİR, new { @class = "form-control" })
    <br />
    <b>BİRİM</b>
    @Html.DropDownListFor(x => x.Birim.BirimID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    <br />

    <button class="btn btn-info">PERSONEL EKLE</button>

</form>

